<h2>Crear Usuario</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html =>{:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
  <br>

  <div class="field">
      <div class="form-group">
        <%= f.label :email,class: 'col-sm-1 control-label'%>
        <div class="col-sm-5">
          <%= f.email_field :email, autofocus: true,class:'form-control',placeholder: 'Ingrese Email' %>
        </div>
      </div>
  </div>
  <div class="field">
    <div class="form-group">
      <%= f.label :password ,class: 'col-sm-1 control-label'%>

        <% if @minimum_password_length %>
        <em>  (<%= @minimum_password_length %> caracteres largo minimo)</em>
        <% end %><br />
      <div class="col-sm-5">
        <%= f.password_field :password, autocomplete: "off",class:'form-control',placeholder: 'Ingrese Password' %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
    <%= f.label :password_Confimacion,class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
        <%= f.password_field :password_confirmation, autocomplete: "off",class:'form-control',placeholder: 'Confirme Password' %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
    <%= f.label :nombre,class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
       <%= f.text_field :nombre, autocomplete: "off",class:'form-control',placeholder: 'Ingrese Nombre' %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="form-group">
    <%= f.label :apellido,class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
        <%= f.text_field :apellido, autocomplete: "off",class:'form-control',placeholder: 'Ingrese Apellido' %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <div class="form-group">
    <%= f.label :admin,class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
        <%= f.check_box :admin, class:'form-control'%>
      </div>
    </div>
  </div>
     <div class="field">
    <div class="form-group">
    <%= f.label :caja,class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
        <%= f.check_box :caja, class:'form-control'%>
      </div>
    </div>
  </div>

   <div class="field">
    <div class="form-group">
    <%= f.label :estilista,class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
        <%= f.check_box :estilista, class:'form-control'%>
      </div>
    </div>
  </div>
  
   <div class="field">
    <div class="form-group">
    <%= f.label :contador,class: 'col-sm-1 control-label'%>
      <div class="col-sm-5">
        <%= f.check_box :contador, class:'form-control'%>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit("Crear" ,class: 'btn btn-default') %>
  </div>
<% end %>

