<p id="notice"><%= notice %></p>

  <div class="">
  <label>Crear Estilista:</label>
  <%@nuevo_usuario = 1%>
    <%= link_to "Nuevo", nuevo_url%>

  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Administrador</th>
      <th>Caja</th>
      <th>Estilista</th>
      <th>Contador</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.nombre %></td>
      <td><%= user.apellido %></td>
      <td><%= user.email %></td>
      <td><%= user.admin? %></td>
      <td><%= user.caja? %></td>
      <td><%= user.estilista? %></td>
      <td><%= user.contador? %></td>
      <td><%= link_to 'editar', edit_user_registration_path %></td>
      <td><%= link_to 'Eliminar', user, method: :delete, data: {confirm: 'Esta Seguro?'} %>
    </tr>

    <% end %>
  </tbody>
</table>

<br>


