<p id="notice"><%= notice %></p>

<h1>Records</h1>

<table>
  <thead>
    <tr>
      <th>Clients</th>
      <th>Service</th>
      <th>Users</th>
      <th>Anotacion</th>
      <th>Valor</th>
      <th>Comision</th>
      <th>Boleta</th>
      <th>Fecha</th>
      <th>Medio pago</th>
      <th>Activo</th>
      <th>Estado</th>
      <th>Pagado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.client.id %></td>
        <td><%= record.service.id %></td>
        <td><%= record.user.id %></td>
        <td><%= record.anotacion %></td>
        <td><%= record.valor %></td>
        <td><%= record.comision %></td>
        <td><%= record.boleta %></td>
        <td><%= record.fecha %></td>
        <td><%= record.medio_pago %></td>
        <td><%= record.activo %></td>
        <td><%= record.estado %></td>
        <td><%= record.pagado %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %>
