            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                      <% if user_signed_in? %>
                      
                        <% if (!current_user.contador = false) %>
                        <li>
                            <%= link_to clients_path do %>
                            <i class="fa fa-user fa-fw"></i>Clientes
                            <% end %>
                        </li>
                        <%end%>
                        <li>
                            <%= link_to services_path do %>
                            <i class="fa fa-file fa-fw"></i>Servicios
                            <% end %>
                        </li>

                         <li>
                            <%= link_to inventaries_path do %>
                            <i class="fa fa-sitemap fa-fw"></i>Inventario
                            <% end %>
                        </li>
                        <li>
                            <%= link_to commission_index_path do %>
                            <i class="fa fa-money fa-fw"></i>Comisiones
                            <% end %>
                        </li>
                        <li>
                            <%= link_to users_index_path do %>
                            <i class="fa fa-table fa-fw"></i>Estilistas
                            <% end %>
                        </li>
                         
                       
                         
                        <% else %>
                         <li>
                            <%= link_to "Inicio Sesion",new_user_session_path%>
                            
                        </li>
                       
                        
                         <% end %>

                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>